@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/LatoBlack.ttf');
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.ttf');
}
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight.ttf');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'BRUSHSCI';
    src: url('../fonts/BRUSHSCI.ttf');
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('../fonts/Lato-ThinItalic.ttf');
}
/*---------------------------------------------------------------*/
.container-max {
    max-width: 2000px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.content-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-bot-container {
    width: 100%;
    background-color: rgb(37, 39, 65);
}
.std p {
    margin: 0;
}
.logo {
    max-width: 100%;
    min-height: auto;
}
.logo img {
    max-width: 110%;
}
.page-header-container {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    padding: 7px 0;
}
.logo-wrap {
    display: flex;
    align-items: center;
}
.header-top-second__wrap {
    display: flex;
    align-items: center;
}
.logo-title {
    padding: 0 3vw;
}
.header-top-second1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 0 4vw;
    margin-left: 1vw;
}
.header-top-second2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-left: 4vw;
}
.logo-title-txt {
    font-family: 'LatoRegular';
    font-size: 19px;
}
.header-top-second1-p {
    font-family: 'LatoLight';
    font-size: 19px;
}
.header-top-second2-p {
    font-family: 'OpenSans-Bold';
    font-size: 22px;
}
.header-top-second2-a {
    font-family: 'OpenSans';
    font-size: 15px;
    text-decoration: underline;
    color: black;
}
#header-nav {
    border-bottom: none;
}
.nav-primary {
    margin: 0;
}
.nav-primary li.level0 > a {
    font-family: 'LatoRegular';
    font-size: 16px;
    color: #ffffff;
}
.header-bot .level0 {
    padding: 10px 0;
}
.header-bot .last {
    float: right;
}
.header-bot .parent::before {
    background: rgba(34,39,75,1);
    background: -moz-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,39,75,1)), color-stop(43%, rgba(252,252,252,1)), color-stop(54%, rgba(252,252,252,1)), color-stop(100%, rgba(34,39,75,1)));
    background: -webkit-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -o-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: linear-gradient(to bottom, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22274b', endColorstr='#22274b', GradientType=0 );

    content: "";
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
    right:0;
    position: absolute;
}
.nav-primary li.level0 ul {
    top: 100%;
}
.skip-links {
    border: none;
    display: flex;
    align-items: center;
}
.container-top {
    background-image: url('../images/background-top.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
body.cms-home .main-container {
    padding-top: 0;
}
.main-container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.container-top .content-container {
    height: 100%;
}
.container-top {
    height: 550px;
}
.content-top__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
}
.content-top {

}
.content-top1 {
    font-family: 'LatoRegular';
    font-size: 27px;
    text-transform: uppercase;
    background: rgb(35, 37 ,61);
    color: #ffffff;
    width: fit-content;
    padding: 20px 30px;
    margin-bottom: 10px;
}
.content-top2 {
    font-family: 'LatoLight';
    font-size: 23px;
    background: rgb(248, 248, 248);
    color: #000000;
    width: fit-content;
    padding: 15px 30px;
    margin-bottom: 25px;
}
.content-top3 {
    font-family: 'LatoRegular';
    font-size: 18px;
    background: rgb(55, 114, 183);
    color: #ffffff;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 20px;
}
.content-top3:hover {
    text-decoration: none;
    color: #d3d3d3;
}
.container-mid__wrap {
    height: 426px;
    background-image: url('../images/background-mid.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.container-mid__wrap .content-container {
    height: 100%;
}
.container-mid {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.container-mid__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 33.3%;
    margin-left: 12px;
    background-color: rgb(36, 38, 63);
    padding: 55px 50px;
}
.container-mid__left__top__ico {
    width: 72px;
    height: 58px;
    background-image: url(../images/mysprite.png);
    background-repeat: no-repeat;
    background-position: -105px 0;
}
.container-mid__left__top__txt1 {
    font-family: 'LatoBlack';
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
}
.container-mid__left__top__txt1_blue {
    color: rgb(55, 114, 183);
}
.container-mid__left__top__txt2 {
    font-family: 'BRUSHSCI';
    font-size: 23px;
    color: #ffffff;
    white-space: nowrap;
}
.container-mid__left__top__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-mid__left__mid {
    font-family: 'LatoLight';
    font-size: 18px;
    padding-right: 10px;
    padding-top: 25px;
    color: #ffffff;
}
.container-mid__left__bot__wrap {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid darkgrey;
    margin-top: 25px;
    padding-top: 15px;
}
.container-mid__left__bot {
    font-family: 'Lato-ThinItalic';
    font-size: 16px;
    color: #ffffff;
}
.container-mid__right1 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.container-mid__right2 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.container-mid__right__wrap {
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 55px;
    padding-left: 60px;
}
.container-mid__right__txt__wrap {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.container-mid__right__ico {
    width: 50px;
    height: 50px;
    background-image: url(../images/mysprite.png);
    background-repeat: no-repeat;
    background-position: -213px 1px;;
}
.container-mid__right__txt1 {
    font-family: 'Lato-Medium';
    font-size: 20px;
}
.container-mid__left__mid__mob {
    display: none;
}
.container-mid__right__txt2 {
    font-family: 'LatoLight';
    font-size: 16px;
}

@media  (min-width: 771px) and (max-width: 1200px) {
    .container-mid__left {
        padding: 55px 3vw;
    }
    .container-mid__right__wrap {
        padding-left: 5vw;
    }
    .container-mid__left__top__txt1 {
        font-size: 2vw;
    }
    .container-mid__left__top__txt2 {
        font-size: 2vw;
    }
    .container-mid__right__txt1 {
        font-size: 2vw;
    }
    .container-mid__right__txt2 {
        font-size: 1.5vw;
    }
}
@media (min-width: 771px) and (max-width: 1060px) {
    .logo-title-txt {
        font-size: 1.7vw;
    }
    .header-top-second1-p {
        font-size: 1.7vw;
    }
    .header-top-second2-p {
        font-size: 1.9vw;
    }
    .header-top-second2-a {
        font-size: 1.3vw;
    }
    .nav-primary li.level0 > a {
        font-size: 1.6vw;
    }
}
@media screen and (max-width: 770px) {
    .header-top-second__wrap {
        display: none;
    }
    .page-header-container .content-container {
        margin: 0;
    }
    .header-top {
        justify-content: space-between;
    }
    .logo-title-txt {
        font-size: 3vw;
    }
    .logo img {
        max-width: 15vw;
    }
    .skip-nav .icon, .skip-nav:not(.skip-active):hover .icon {
        background-image: url(../images/mysprite.png);
        background-repeat: no-repeat;
        background-size: auto;
        width: 40px;
        height: 36px;
        background-position: 1px 0px;
    }
    .skip-link.skip-active {
        background: none;
    }
    .skip-link.skip-nav .icon {
        margin-right: 0;
    }
    .header-bot .parent::before {
        display: none;
    }
    .container-top {
        display: none;
    }
    .container-mid {
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    .container-mid__left {
        width: 100%;
    }
    .container-mid__right1 {
        flex-direction: column;
        width: 100%;
    }
    .container-mid__right2 {
        flex-direction: column;
        width: 100%;
    }
    .container-mid__left__bot__wrap {
        display: none;
    }
    .footer-container {
        padding-top: 100%;
    }
    .container-mid__wrap {
        background-image: none;
    }
    .container-mid__left {
        background-color: inherit;
        background-image: url(../images/background-mid-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        padding: 0;
        flex-direction: row;
        background-size: cover;
        padding: 5vw 6vw;
        align-items: center;
    }
    .container-mid__left__mid {
        display: none;
    }
    .container-mid__left__mid__mob {
        display: block;
        color: #ffffff;
    }
    .container-mid__left__top__txt__wrap {
        padding: 0 6vw;
    }
    .container-mid__right__wrap {
        border-bottom: 1px solid #d3d3d3;
        padding-top: 40px;
        padding-bottom: 40px;
    }

}


