@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/LatoBlack.ttf');
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.ttf');
}
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight.ttf');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
/*---------------------------------------------------------------*/
.container-max {
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.content-container {
    max-width: 1200px;
    margin: 0 auto;
}
.header-bot-container {
    width: 100%;
    background-color: rgb(37, 39, 65);
}

.logo {
    max-width: 100%;
    min-height: auto;
}
.logo img {
    max-width: 110%;
}
.page-header-container {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    padding: 7px 0;
}
.logo-wrap {
    display: flex;
    align-items: center;
}
.header-top-second__wrap {
    display: flex;
    align-items: center;
}
.logo-title {
    padding: 0 3vw;
}
.header-top-second1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 0 4vw;
    margin-left: 1vw;
}
.header-top-second2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-left: 4vw;
}
.logo-title-txt {
    font-family: 'LatoRegular';
    font-size: 19px;
}
.header-top-second1-p {
    font-family: 'LatoLight';
    font-size: 19px;
}
.header-top-second2-p {
    font-family: 'OpenSans-Bold';
    font-size: 22px;
}
.header-top-second2-a {
    font-family: 'OpenSans';
    font-size: 15px;
    text-decoration: underline;
    color: black;
}
#header-nav {
    border-bottom: none;
}
.nav-primary {
    margin: 0;
}
.nav-primary li.level0 > a {
    font-family: 'LatoRegular';
    font-size: 16px;
    color: #ffffff;
}
.header-bot .level0 {
    padding: 10px 0;
}
.header-bot .last {
    float: right;
}
.header-bot .parent::before {
    background: rgba(34,39,75,1);
    background: -moz-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,39,75,1)), color-stop(43%, rgba(252,252,252,1)), color-stop(54%, rgba(252,252,252,1)), color-stop(100%, rgba(34,39,75,1)));
    background: -webkit-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -o-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    background: linear-gradient(to bottom, rgba(34,39,75,1) 0%, rgba(252,252,252,1) 43%, rgba(252,252,252,1) 54%, rgba(34,39,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22274b', endColorstr='#22274b', GradientType=0 );

    content: "";
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
    right:0;
    position: absolute;
}

@media screen and (max-width: 1060px) {
    .logo-title-txt {
        font-size: 1.7vw;
    }
    .header-top-second1-p {
        font-size: 1.7vw;
    }
    .header-top-second2-p {
        font-size: 1.9vw;
    }
    .header-top-second2-a {
        font-size: 1.3vw;
    }
}

